<%= flash[:notice] %>

<form action="/signup" method="post">
  Name<input type="text" name="name" placeholder="enter name" required>
  Email<input type="text" name="email" placeholder="enter email" required>
  Create a username<input type="text" name="username" placeholder="enter username" required>
  Create a password <input type="text" name="password" placeholder="enter password" required>

<button type="submit" value="Submit">Submit</button>
</form>
