<form action="/signup" method="post">
  Name<input type="text" name="name" placeholder="enter name">
  Email<input type="text" name="email" placeholder="enter email">
  Create a username<input type="text" name="username" placeholder="enter username">
  Create a password <input type="text" name="password" placeholder="enter password">

<button type="submit" value="Submit">Submit</button>
</form>
