
<form action="/peep-adding" method="post">
  What's on your mind? <input type="text" name="peep_input" placeholder="say something">
<button type="submit" value="Post">Post</button><br>
</form>
<form action="/showpeeps" method ="get">
<button type="submit" value="Show Peeps">Show Peeps</button>
</form>
<form action="/details" method ="get">
<button type="submit" value="Sign up">Sign up</button>
</form>
