<form action="/searching" method="post">

Please enter your username<input type="text" name="usernamelogin" placeholder="enter your username" required>
Please enter your password <input type="text" name="passwordlogin" placeholder="enter your password" required>

<button type="submit" value="Submit">Submit</button>
</form>
